<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prm392_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392_Project"
        tools:targetApi="31">
        <activity
            android:name=".Admin_AllProducts"
            android:exported="false" />
        <activity
            android:name=".InforOrder"
            android:exported="true" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".Captcha"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Activity_VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".OTP_Phone"
            android:exported="true" />
        <activity
            android:name=".OTP_Email"
            android:exported="false" />
        <activity
            android:name=".Navigation_Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Phone Card Market" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>